@keyframes SlideLeft {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(25%);
	}

	100% {
		transform: translateX(0);
	}
}
@keyframes SlideRight {
	0% {
		transform: translateX(100%);
	}

	50% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}
@keyframes Swing {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(10%);
	}

	100% {
		transform: translateX(0);
	}
}
@keyframes swingOut {
	0%{
		transform: rotateX(0deg);
		transform-origin: top;
		opacity:1;
	}
	100%{
		transform: rotateX(-100deg);
		transform-origin: top;
		opacity:0;
	}
}
@keyframes rotate {
	0% {
		transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
	}
	100%{
		transform: rotateY(0deg) translateY(0) skewY(0deg);
	}
}
.swingOut{
	animation: swingOut 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.swing{
	animation: Swing 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.rotate{
	animation: rotate 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slideIn {
	animation: SlideLeft 5s ease 0s infinite normal forwards;
}
.liveMessage{
	position: relative;
	overflow: hidden;
}
.liveMessage span{
	position: absolute;
	display: inline-block;
	animation: SlideRight 5s ease 0s infinite normal forwards;
}
[clip_displayer]{
	position: absolute;
}
[clip_displayer] iframe{
	border:none;
	width: 100%;
	height: 100%;
}
.chat{
	position: absolute;
	display:flex;
	flex-direction: column;
}
.chat div span {
    text-align: center;
    font-size: 1.3em;
}
.chat div span:first-of-type{
	width: 15%;
}
.chat div span:last-of-type{
	width: 80%;
}
[data-source]::before {
	content: 'dernier '
}